# Fraudolent flag

= 0 if the node has ExtendedCaseID = 0

= 1 if the node has ExtendedCaseID != 0

In [1]:
import sys
import pandas as pd
import numpy as np
import time

In [2]:
sys.path.append('../')
import utils
v_data, e_data, v_sets, e_sets, core_targets, ext_targets, core_testing = utils.load_for_jupyter()

Dataset already downloaded. Loading it from file system
LOADING DATA: 1.01 s
PREPROCESSING: 0.94 s

In [3]:
v_fr = v_data
v_fr['ExtendedCaseGraphID'] = v_fr['ExtendedCaseGraphID'].fillna(0)
v_fr['Fraudolent'] = np.where(v_fr['ExtendedCaseGraphID'] != 0, 1, 0)
fraud_labels = v_fr['Fraudolent'].to_frame()

In [4]:
fraud_labels.value_counts()

Fraudolent
0             286938
1              32438
dtype: int64

In [5]:
fraud_labels

            Fraudolent
node_id
1502000              0
1502001              0
1502002              0
1502003              0
1502004              0
...                ...
3001177742           0
3001177743           0
3001177744           0
3001177745           1
3001177746           0

[319376 rows x 1 columns]