In [1]:
import pandas as pd
import numpy as np
import time
import sys
from collections import defaultdict

import stellargraph as sg

In [2]:
sys.path.append('../')
import utils

In [3]:
v, e, core_ID, ext_ID, core_test_ID = utils.load_for_jupyter_raw()

Dataset already downloaded. Loading it from file system
LOADING DATA: 0.93 s

In [4]:
core_ID.shape

(8054, 1)

In [5]:
ext_ID.shape

(32438, 1)

In [6]:
core_test_ID.shape

(32438, 1)

In [32]:
v.testingFlag.value_counts()

0.0    37669
1.0     1792
Name: testingFlag, dtype: int64

In [50]:
new = v.drop(['CoreCaseGraphID', 'ExtendedCaseGraphID', 'testingFlag'], axis=1)

core = core_ID.rename(columns={'CaseID': 'CoreCaseGraphID'}, index={'NodeID': 'node_id'})
ext = ext_ID.rename(columns={'CaseID': 'ExtendedCaseGraphID'}, index={'NodeID': 'node_id'})
core_test = core_test_ID.rename(columns={'CaseID': 'CoreCaseGraphID'}, index={'NodeID': 'node_id'})

# testingFlag
#TODO



#test_flag = pd.merge(test_flag_0, test_flag_1, left_index=True, right_index=True, how='outer', on='testingFlag')
final = pd.merge(new, core, left_index=True, right_index=True, how='left')
final = pd.merge(final, ext, left_index=True, right_index=True, how='left')
final = pd.merge(final, test_flag, left_index=True, right_index=True, how='left')
final.index.name = 'node_id'

idx = np.unique(final.index.values, return_index=True)[1]
final = final.iloc[idx]

In [24]:
final[final.index.get_level_values('node_id').duplicated()].shape

(0, 10)

In [21]:
v.shape

(319376, 10)

In [25]:
final

,Label,Revenue Size Flag,Account ID String,Address,Person or Organisation,Name,Income Size Flag,CoreCaseGraphID,ExtendedCaseGraphID,testingFlag
node_id,,,,,,,,,,
100100,Customer,NaN,NaN,NaN,Person,CHURCH STREET TRUSTEES LIMITED as Trustees for...,medium,NaN,NaN,NaN
100101,Customer,NaN,NaN,NaN,Person,CN BETA LIMITED,high,NaN,NaN,NaN
100102,Customer,NaN,NaN,NaN,Organisation,CHURCH STREET TRUSTEES LIMITED AS TRUSTEES OF ...,high,NaN,NaN,NaN
100103,Customer,NaN,NaN,NaN,Organisation,BOS SECRETARIES ((JERSEY) LIMITED (formerly IN...,medium,NaN,NaN,NaN
100104,Customer,NaN,NaN,NaN,Person,CHURCH STREET TRUSTEES LIMITED,high,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
20030025114,Derived Entity,NaN,NaN,NaN,Person,gMsblvnPVn,NaN,NaN,NaN,NaN
20030025115,Derived Entity,NaN,NaN,NaN,Person,aWHuteBUnk,NaN,NaN,NaN,NaN
20030025116,Derived Entity,NaN,NaN,NaN,Person,E9VrY0MBsT,NaN,NaN,2031.0,0.0
20030025117,Derived Entity,NaN,NaN,NaN,Organisation,UjrIkskkUr,NaN,NaN,NaN,NaN
20030025118,Derived Entity,NaN,NaN,NaN,Organisation,9flY8l972P,NaN,NaN,NaN,NaN

In [26]:
final.testingFlag.value_counts()

0.0    37775
Name: testingFlag, dtype: int64

In [30]:
test_flag_0

             testingFlag
NodeID
100107                 0
100108                 0
250119                 0
1001010                0
1001013                0
...                  ...
20030025096            0
20030025099            0
20030025108            0
20030025109            0
20030025116            0

[37807 rows x 1 columns]

In [45]:
test_flag_1

             testingFlag
NodeID
250113064              1
1001012232             1
1001016719             1
1001015484             1
15020041159            1
...                  ...
1001045628             1
15020071663            1
2501128382             1
1001047057             1
15020044204            1

[32438 rows x 1 columns]